version: 2
jobs:
  shellcheck:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run:
          name: script-check
          command: |
            find . -type f -name '*.sh' | wc -l
            find . -type f -name '*.sh' | xargs shellcheck --external-sources
  build_demo:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: echo "A first hello"
  deploy:
    machine:
      enabled: true
    steps:
      - run:
          name: AWS EC2 deploy
          command: ./main.sh
            # ssh ec2-user@ec2-3-112-202-137.ap-northeast-1.compute.amazonaws.com \
            # "echo Start deploy && \
            # cd app/circle-node/ && \
            # git pull origin master && \
            # npm i && \
            # pm2 delete -s myapp || :
            # pm2 start ./index.js --name myapp && \
            # echo Deploy end"
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - shellcheck
      - build_demo
      - deploy:
          requires:
            - shellcheck
            - build_demo