version: 2
jobs:
  build_demo:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: echo "A first hello"
  deploy:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: "run sh"
          command: ./main.sh
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_demo
      - deploy:
          requires:
            - build_demo