version: 2
jobs:
  build_demo:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: echo "A first hello"
  deploy:
    environment:
      HOST: $EC2_HOST
    machine:
      enabled: true
    steps:
      - checkout
      - run: 
          name: "Deploy to EC2"
          command: pwd
      - run:
          name: "check env"
          command: echo $HOST
      - run:
          name: "check env2"
          command: echo $EC2_HOST
      - run:
          name: "inject ENV"
          command: echo $HOST >> ./main.sh
      - run:
          name: "run sh"
          command: ./main.sh
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_demo
      - deploy:
          requires:
            - build_demo